@font-face {
    font-family: "Helvetica Neue Thin";
    src: url('HelveticaNeue/HelveticaNeue\ Thin/HelveticaNeue\ Thin.ttf') format('truetype');
}

html,body {
    height: 100vh;
    width: 100vw;
    /*font-family: 'Raleway', sans-serif;*/
    font-family: "Helvetica Neue Thin", sans-serif;
}

body {
    background-color:black;
    background: url(img/beautiful-sky.gif) fixed;
    height: auto;
    min-height: 100%;
    background-size:cover;

    background-repeat: no-repeat;
    position: relative;
    display:flex;
    flex-direction:column;
}

/* For the loading message*/
h1 {
    text-align:center;
    font-size: 20px;
}

/* For the error messages*/
h2 {
    text-align:center;
    font-size: 20px;
}

.weather-img {
    /* This is what brings everything in one line on the left. Maybe we have a link that makes this a class or not a class. Let's start out with it like this.*/
    display: flex;
    align-items:center;
    justify-content: flex-start;

    position:sticky;
    top:0;
    z-index:3; /* always in front*/
}

.container {
    display:flex;
    flex-direction:column;
    /*gap: 30px;*/
    overflow-y:scroll;
    min-height:calc(100vh - 105px); /* gets menu button on bottom*/

    align-self: center;
    width: calc(100vw - 150px); /* so that is doesn't go over the menu button on the right */
}

.weather-title {
    vertical-align:middle;
    font-size: 30px;
    margin-left:10px;
    margin-right:10px;
    color:rgb(255, 255, 255);
    text-shadow: 1px 1px 1px rgb(255, 255, 255, 0.4);
}

#searchLocationInput {
    background: rgb(61, 61, 61, .8);
    background-image: url(img/search.png);
    background-repeat: no-repeat;
    background-size: 11px;
    background-position: 3% 50%;
    padding-left: 25px;

    color: rgb(197, 197, 197);
    font-weight: 400;
    font-stretch: semi-expanded;
    border: 0px;
    border-radius: 9px;
}

.locationForm {
    display: flex;
    justify-content:center;
    gap: 3px;
}

#submit-btn {
    background-color: transparent;
    color: rgb(117, 117, 117);
    border: 1px solid rgb(117, 117, 117, .8);
    border-radius: 9px;
    padding: 6px 10px;
    font-weight: 400;
}

#submit-btn:hover {
    background-color: rgb(117, 117, 117, .8);
    color: rgb(197, 197, 197);
}

/* overwrite this */
input:-webkit-autofill,
  input:-webkit-autofill:focus {
    transition: background-color 600000s 0s, color 600000s 0s;

    background-image: url(img/search.png);
    background-repeat: no-repeat;
    background-size: 11px;
    background-position: 3% 50%;
}

.city-short-listing {
    position: relative;
    display:grid;
    background-repeat:no-repeat;
    background-size: 100% auto;

    border-radius: 30px;
    grid-template-columns: 1.4fr 0.8fr 0.8fr; 
    grid-template-rows: 1.1fr 0.6fr .3fr 0.9fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "location . current-temp"
      "time-at-loc . current-temp"
      ". . ."
      "type-of-weather . low-high";
    margin-bottom: 30px;
}
.location { 
    grid-area: location; 
    align-self: flex-end;
    margin-left: 30px;
    margin-top: 0px;
    color:white;
    font-weight: 700;
    font-size: 25px;
    text-transform: capitalize;
}
.current-temp { 
    grid-area: current-temp;
    align-self: flex-start;
    justify-self:flex-end;
    color: white; 
    font-size: 54px;
}

/* The remove button for a list object*/
.city-short-listing button {
    color:rgb(121, 142, 161);
    font-size: 20px;
    height: 20px;
    vertical-align: top;
    padding:13px;
    border:0;
    background: none;
}
.time-at-loc { 
    grid-area: time-at-loc; 
    margin-left: 30px;
    color:rgb(175, 196, 214);
}
.type-of-weather { 
    text-transform: capitalize;
    grid-area: type-of-weather; 
    margin-left: 30px;
    color:rgb(175, 196, 214);
    text-decoration:none;
}
.clear:hover {
    color:rgb(255, 255, 255);
}
.city-short-listing .low-high { 
    grid-area: low-high; 
    color: white;
    justify-self: flex-end; 
    position:absolute;
    right: 33px;
}
.menu-button {
    align-self:flex-end;
    height: 40px;
    width: 40px;
    position: sticky;
    bottom: 20px;
    right: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    background-image: url('img/menu.jpg');
    background-size: 70% 70%;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid rgb(255, 255, 255, 0.5);
    border-radius: 8px;
}

.menu-button:hover {
    background-color: rgba(255, 255, 255, 0.8);
}

#icon-credit {
    position: absolute;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    bottom: 5px;
    text-decoration: none;
    font-size: 8px;
    color: rgb(255, 255, 255, 0.6);
}

.menu-button-clicked {
    background-color: rgba(255, 255, 255, 0.8);
}

.menu-button-clicked:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

/* This is for the single listing */
.city-single-listing {
    align-items:center;
    flex-direction:column;
    display:flex;
}
.listing-title {
    display:flex;
    flex-direction:column;
    text-align:center;
}

.city-single-listing .location {
    align-self: center;
    text-align:center;
    margin:0;
    line-height:25px;
}

.city-single-listing .current-temp {
    align-self:center;
    justify-self:center;
    text-align:center;
    line-height: 54px;
    font-weight: 200;
    vertical-align:top;
    padding-bottom: 5px;
}

.city-single-listing .type-of-weather {
    margin:0;
}

.city-single-listing .low-high {
    color: white;
}

.hourly-container {
    margin-top: 40px;
    font-size: 10px;
}

/* both containers */
.hourly-container, .eight-day-container {
    background-color: rgba(114, 111, 134, 0.5);
    border-radius: 10px;
    padding: 6px 10px;
    color:white;
}

.hourly-container hr {
    margin:6px 0px;
    color:#93a8bc;
}

.hourly-temps {
    overflow-x: scroll;
    display: flex;
    flex-direction: row;
}

.single-hourly-temp {
    text-align:center;
    display: flex;
    flex-direction: column;
}

.hour-temp {
    font-size: 12px;
    font-weight: 900;
}

.hourly-percent-rain {
    margin:0;
    padding:0;
    line-height: 8px;
    font-size: 8px;
    color:rgb(140, 201, 255);
    margin-top: -8px; /* moves it up in front of the weather icon*/
}

.single-view {
    padding-top:30px;
    border-radius: 15px;
    position:relative;
}

/* get background image opaque*/
.single-view::after {
    content: "";
    background-image: var(--background-gif); /* delete this*/
    background-size: auto 100%;
    background-repeat:no-repeat;
    background-size: cover;
    opacity:0.7;
    position:absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    transition: .3s opacity linear;
}

.single-view img {
    height: 40px;
    width: auto;
}

.single-view .sunrise{
    height: 30px;
    width: 30px;
    margin-left:3px;
    margin-right:3px;
    margin-bottom: 10px;
    align-self:center;
}

.single-view .sunset {
    height: 30px;
    width: 30px;
    margin-top:1px;
    margin-left:3px;
    margin-right:3px;
    margin-bottom: 9px;
    align-self:center;
}

.eight-day-container {
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#eight-day-icon {
    height: 10px;
    width: 10px;
}

#eight-day-title {
    font-size: 9px;
    color:#93a8bc;
}

.eight-day-container hr {
    margin:0px 0px;
    color:#93a8bc;
}

#top-hr {
    margin-top: 6px;
}

.one-day-forecast {
    display:grid;
    align-items:center;
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "day-in-8 weather bar";
}

.day-in-8 {
    font-weight: 500;
    grid-area: day-in-8;
}

.one-day-forecast img {
    grid-area: weather;
}

.percent-rain {
    grid-area: weather;
    margin:0;
    padding:0;
    line-height: 8px;
    font-size: 8px;
    margin-left: 10px;
    align-self:flex-end;
    padding-bottom:2px;
    color:rgb(140, 201, 255);
}

.temp-bar  {
    position:relative;
    grid-area: bar;
}

.background-bar {
    background-color:black;
    height: 5px;
    width: 70px;
    border-radius: 6px;
    justify-self:center;
    margin: 0px 8px;
}

.foreground-bar {
    z-index: 1;
    height: 5px;
    border-radius: 6px;
    justify-self:center;
    margin: 0px 8px;
    position:absolute;
    top: 0;
    left: 0; /* as default */
}

#current-temp-dot {
    width: 5px;
    height: 5px;
    background-color: white;
    border-radius: 50% 50%;
    border: 1px solid black;
    position:absolute;
    top: 0;
    z-index:2;
}

.daily-high-low {
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-self:center;
}