html,body {
    height: 100vh;
    width: 100vw;
    font-family: 'Raleway', sans-serif;
}

body {
    background-color:black;
    background: url(img/beautiful-sky.gif) fixed;
    height: auto;
    min-height: 100%;
    background-size:cover;

    background-repeat: no-repeat;
    position: relative;
    display:flex;
    flex-direction:column;
}
.weather-img {
    /* This is what brings everything in one line on the left. Maybe we have a link that makes this a class or not a class. Let's start out with it like this.*/
    display: flex;
    align-items:center;
    justify-content: flex-start;

    position:sticky;
    top:0;
}

.container {
    display:flex;
    flex-direction:column;
    gap: 30px;
    overflow-y:scroll;
    min-height:calc(100vw - 160px); /* gets menu button on bottom*/
}

.weather-title {
    vertical-align:middle;
    font-size: 30px;
    margin-left:10px;
    margin-right:10px;
    color:rgb(255, 255, 255);
    text-shadow: 1px 1px 1px rgb(255, 255, 255, 0.4);
}

#searchLocationInput {
    background: rgb(61, 61, 61, .8);
    background-image: url(img/search.png);
    background-repeat: no-repeat;
    background-size: 11px;
    background-position: 3% 50%;
    padding-left: 25px;

    color: rgb(197, 197, 197);
    font-weight: 400;
    font-stretch: semi-expanded;
    border: 0px;
    border-radius: 9px;
}

.locationForm {
    display: flex;
    justify-content:center;
    gap: 3px;
}

#submit-btn {
    background-color: transparent;
    color: rgb(117, 117, 117);
    border: 1px solid rgb(117, 117, 117, .8);
    border-radius: 9px;
    padding: 6px 10px;
    font-weight: 400;
}

#submit-btn:hover {
    background-color: rgb(117, 117, 117, .8);
    color: rgb(197, 197, 197);
}

/* overwrite this */
input:-webkit-autofill,
  input:-webkit-autofill:focus {
    transition: background-color 600000s 0s, color 600000s 0s;

    background-image: url(img/search.png);
    background-repeat: no-repeat;
    background-size: 11px;
    background-position: 3% 50%;
}

.city-short-listing {
    display:grid;
    /*background-color:rgb(11, 11, 49);*/
    background-image: url(img/starry-night.gif);
    /*background-image: url(img/1ZvR.gif);*/
    background-repeat:no-repeat;
    background-size: 100% auto;

    /*background-size:contain;*/
    border-radius: 30px;
    grid-template-columns: 1.4fr 0.8fr 0.6fr; 
    grid-template-rows: 1.1fr 0.6fr .3fr 0.9fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "location . current-temp"
      "time-at-loc . current-temp"
      ". . ."
      "type-of-weather . low-high";
}
.location { 
    grid-area: location; 
    align-self: flex-end;
    margin-left: 30px;
    margin-top: 0px;
    color:white;
    font-weight: 700;
    font-size: 25px;
}
.current-temp { 
    grid-area: current-temp;
    align-self: flex-start;
    justify-self:flex-end;
    color: white; 
    font-size: 54px;
}
/* The remove button for a list object*/
.current-temp a{
    padding-left: 9px;
    margin-right: 11px;
    font-size: 15px;
    vertical-align:text-top;
    color:rgb(121, 142, 161);
    font-weight:600;
}

a:not([href]):not([class]), a:not([href]):not([class]):hover {
    color:rgb(121, 142, 161);
}
.time-at-loc { 
    grid-area: time-at-loc; 
    margin-left: 30px;
    color:rgb(175, 196, 214);
}
.type-of-weather { 
    text-transform: capitalize;
    grid-area: type-of-weather; 
    margin-left: 30px;
    color:rgb(175, 196, 214);
    text-decoration:none;
}
.clear:hover {
    color:rgb(255, 255, 255);
}
.low-high { 
    grid-area: low-high; 
    color: white; 
}


/* These are for the background based on the type of weather */
.thunderstorm{
    background-image: url(img/thunderstorm.gif);
}
.drizzle{
    background-image: url(img/drizzle.gif);
}
.rain{
    background-image: url(img/rain.gif);
}
.snow{
    background-image: url(img/snow2.gif);
}
.mist, .fog, .smoke, .haze, .dust, .ash{
    background-image: url(img/mist2.gif);
    background-position: center;
} 
.sand{}
.clear{background-image: url(img/clear.gif);}
.clouds{background-image: url(img/clouds4.gif);}

.menu-button {
    align-self:flex-end;
    height: 40px;
    width: 40px;
    position: sticky;
    /*position: absolute;*/
    bottom: 20px;
    /*left: 20px;*/
    right: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    background-image: url('img/menu.jpg');
    background-size: 70% 70%;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid rgb(255, 255, 255, 0.5);
    border-radius: 8px;
}

.menu-button:hover {
    background-color: rgba(255, 255, 255, 0.8);
}

#icon-credit {
    position: absolute;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    bottom: 5px;
    text-decoration: none;
    font-size: 8px;
    color: rgb(255, 255, 255, 0.6);
}

/* LIST.HTML items*/
.container-for-list {
    display:flex;
    flex-direction:column;
    gap: 30px;
}

.menu-button-clicked {
    background-color: rgba(255, 255, 255, 0.8);
}

.menu-button-clicked:hover {
    background-color: rgba(255, 255, 255, 0.5);
}
